* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 2px; */
  /* border: 1px solidz blue; */
}

html {
  font-size: 1em;
  min-width: 360px;
}

body {
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
}

section {
  padding: 20px 60px;
  /* border: 1px solid firebrick; */
}

section:nth-child(1) {
  background-color: aliceblue;
  width: 100%;
}

section:nth-child(1)>div{
  max-width: 1000px;
  margin: auto;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: flex-start;
}

.message-box {
  background-color: #fff;
  padding: 20px;
  color: grey;
  border-radius: 6px;
  /* max-width: 600px; */
  flex: 1;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.message-box > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username > * {
  margin: 0;
}

.username > p:first-child {
  font-weight: 700;
  color: #000;
}

.message-box > * {
  /* width: 250px; */
}

.message-box img:last-child {
  width: 28px;
}

.message-box > div:last-child {
  display: flex;
  justify-content: space-between;
}

.message-box > div:last-child div {
  display: flex;
  align-items: center;
}

.like {
  color: red;
  font-size: 24px;
  display: inline-block;
  margin: 4px;
}

section:nth-child(2){
  /* display: flex;
  flex-direction: column; */
  max-width: 600px;
  margin: auto;
}

.pricing{
  border: 2px solid rgb(255, 166, 0);
  border-radius: 8px;
  padding: 20px;
  color: grey;
  background-color: beige;
}

.pricing span:nth-child(1){
  font-weight: 700;
  color: #000;
  font-size: 34px;
}

.pricing button{
  width: 100%;
  background-color: rgb(0, 132, 255);
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  border: none;
}