* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 5px; */
  /* border: 1px solid blue; */
}

html {
  font-size: 1em;
  min-width: 360px;
}

body {
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
  line-height: 28px;
}

section {
  padding: 20px 60px;
}

section:nth-child(1) {
  background-color: aliceblue;
}

section>div{
  max-width: 1000px;
  margin: auto;
}

section:nth-child(2)>div{
  max-width: 400px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: flex-start;
}

.message-box {
  background-color: #fff;
  padding: 20px;
  color: grey;
  border-radius: 6px;
  flex: 1;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.message-box > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username > * {
  margin: 0;
}

.username > p:first-child {
  font-weight: 700;
  color: #000;
}

.message-box img:last-child {
  width: 28px;
}

.message-box > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-box > div:last-child div {
  display: flex;
  align-items: center;
}

.like {
  color: red;
  font-size: 24px;
  display: inline-block;
  margin: 4px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
}

section>div>p{
  color: grey;
}

.center {
  text-align: center;
}

.pricing{
  border: 2px solid rgb(255, 166, 0);
  border-radius: 8px;
  padding: 20px;
  color: grey;
  background-color: beige;
}

.pricing>p{
  font-size: 20px;
  margin: 2px 0;
}

.pricing span:nth-child(1){
  font-weight: 700;
  color: #000;
  font-size: 34px;
}

.pricing button{
  width: 100%;
  background-color: rgb(0, 132, 255);
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.pricing button:hover{
  background-color: rgb(7, 36, 69);
}

.pricing button:active{
  background-color: rgb(67, 67, 213);
}

.pricing ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pricing li{
  list-style-image: url(green-tick-small.png);
}
